<p>
  <a href="{{site.dc_site}}">Data Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This workshop uses a tabular ecology dataset and teaches data cleaning, management, analysis and visualization.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<P>
  Please be sure to arrive early so that we can help you resolve any setup issues or WiFi connection problems. This way the workshop can begin on time at 9:00AM.
</P>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
